[buildout]
extends =
	base.cfg
	
parts +=
	apache-download
	mod-fcgi-download
	apache-fcgi-install
	httpd-conf
	fcgid-conf
	virtualhost-conf
	mkdirs
	iip-download
	cron-script
	start-script
	
[ports]
apache = 8080

[hosts]
internalIP = 10.0.2.36
externalIP = 10.0.2.36
servername = localhost

[kakadu]
version = 74

# docker just installs as root
[users]
buildout-user = root
# starting on port 8080 so set sudo as application user
sudo = root
apache = www-data

[env]
recipe = gocept.recipe.env

